<div class="mainPageContainer" *ngIf="!isLoading; else loading">
  <div class="statContainer">
    <matchStats *ngIf="matchedProfils" [matchedProfils] = matchedProfils></matchStats>
  </div>
  <div>
    <select [(ngModel)] = "filteredInteret">
      <option *ngFor="let interet of interets" [id]="interet.nom" [value]="interet.nom">{{interet.nom}}</option>
    </select>
  </div>
  <div class="profilsContainer">
    <div *ngFor="let profil of listProfils">
      <profil [profil]=profil (matchsEmitter)="setMatchs($event)" [filteredInteret] = filteredInteret></profil>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="loader"></div>
</ng-template>


