
<div class="presentationContainer">
<profilPresentation [profil] = profil [filteredInteret] = filteredInteret></profilPresentation>
<matchButtons (isMatch) ="setMatch($event)" [profilId] = profil.id></matchButtons>
</div>