.nope{
    background-color: red;
}

.match{
    background-color: green;
}

.stat{
    margin:1em;
}

.inlineStats{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin:2em;
}