<div *ngFor="let matchedProfil of matchedProfils">
  <div class="inlineStats">
    <div [class]="matchedProfil.match.match ? 'match' : 'nope'">
      <p class="stat">
        {{matchedProfil.profil.prenom}} 
        {{matchedProfil.profil.nom}} 
        {{matchedProfil.match.match ? 'match' : 'nope'}}
      </p>
    </div>
    <button class="btn btn-warning">Delete Match</button>
  </div>
</div>