<div class="matchButtonsContainer">
  <button (click)="match()" class="btn btn-success" [disabled]="isChoiced" >Like</button>
  <button (click)="nope()" class="btn btn-danger" [disabled]="isChoiced" >Nope</button>
</div>
