<div class="presentationContainer">
  <h2>{{profil.nom}} {{profil.prenom}}</h2>
  <img class="profilPhoto" [src]="profil.photoUrl">
  <h3>Centres d'intérêt :</h3>
  <div *ngFor="let interet of getInteret()">
    <p>{{interet.nom}}</p>
  </div>
</div>