
.presentationContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profilPhoto{
    width:100px;
    height:150px;
    overflow: hidden;
    margin:1em;
}

h2{
    font-size: 1.2em;
}